<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box}
    
    /* Full-width input fields */
    input[type=text], input[type=password], input[type=number],input[type=date], select, textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
     
    /* Set a style for all buttons */
.bttn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}
     
    
    /* Add padding to container elements */
    .container {
      padding: 16px;
    }
    
    /* Clear floats */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    
    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {
      .cancelbtn, .signupbtn {
         width: 100%;
      }
    }
    </style>

{% extends 'index.html' %} 


{% block content %}
    <h3>Sign Up for Teachers</h3>
    <form action="/signup" method="POST" style="border:5px solid #ccc">
        <div class="container">
        {% csrf_token %}
    <table border="1" width="100%">
        <tr><td>Enter Name</td>
            <td>:</td>
            <td><input type="text" name="name" id="name" /></td>
        </tr>

        <tr><td>Enter Mobile</td>
            <td>:</td>
            <td><input type="number" name="mob" id="mob" /></td>
        </tr>

        <tr><td>Enter email</td>
            <td>:</td>
            <td><input type="text" name="email" id="email" /></td>
        </tr>

        <tr><td>Enter Address</td>
            <td>:</td>
            <td><textarea id="address" name="address"></textarea></td>
        </tr>

        <tr><td>Enter DOB</td>
            <td>:</td>
            <td><input type="date" name="dob" ></td>
        </tr>

        <tr><td>Enter joining date</td>
            <td>:</td>
            <td><input type="date" name="jod" value="2024-01-01" ></td>
        </tr>

        <tr><td>Select Department Address</td>
            <td>:</td>
            <td>
            <select name="dept_id">
            <option value="0">--Select--</option>
            {% for dept_row in dept %}
            <option value="{{ dept_row.id }}"> {{ dept_row.dept_name }} </option>
            {% endfor %}
            </select></td>
        </tr>

        <tr><td>Enter password</td>
            <td>:</td>
            <td><input type="password" name="pwd"   ></td>
        </tr>

      

        <tr align="center"><td colspan="3"><button type="submit" class="bttn"  >Submit</button></td></tr>
    </table>
</div>
    </form>
    {% endblock content %}
    
    
