{% extends 'index.html' %}
{% load static %}

{% block content %}


<table width="100%" cellpadding="2" cellspacing="0">
    <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Mother's Name</th>
        <th>Father's Name</th>
        <th>nationality</th>
        <th>Gender</th>
        <th>adddress</th>
        <th>date of Birth</th>
        <th>Reservation</th>
        <th>Class</th>
        <th>UPDATE</th>
        <th>DELETE</th>
    </tr>
    {% for row_s in stdt %}
    <tr>
        <td>{{ row_s.id }}</td>
        <td>{{ row_s.stud_name }}</td>
        <td>{{ row_s.mothername }}</td>
        <td>{{ row_s.fathername }}</td>
        <td>{{ row_s.nationality }}</td>
        <td>
            {% if row_s.gender == 'M' %} Male {% else %} female {% endif %}
        </td>
        <td>{{ row_s.address }}</td>
        <td>{{ row_s.dob }}</td>
        <td>{{ row_s.reserv }}</td>
        <td>{{ row_s.classstd }}</td>
        <td><a href="/updatestud/{{ row_s.id }}" class="primary">UPDATE</a>
        </td>
        <td>
            
                <button onclick="demoFunction('{{row_s.id}}')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                </button>


        </td>
    </tr>
    {% endfor %}


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">warning</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    Do you want to delete ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="bbbb"  class="danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    
</table>

<script>

    function demoFunction(a){
        
       var linkk= document.getElementById('bbbb');
       linkk.setAttribute("href","/deletestud/"+a);
    }
</script>





{% endblock content %}