{% extends 'index.html' %}
{% load static %}

{% block content %}

<table width="100%" cellpadding="2" cellspacing="0">
    <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Mother's Name</th>
        <th>Father's Name</th>
        <th>nationality</th>
        <th>Gender</th>
        <th>adddress</th>
        <th>date of Birth</th>
        <th>Reservation</th>
        <th>Class</th>
        <th>UPDATE</th>
        <th>DELETE</th>
    </tr>
    {% for row_s in stdt %}
    <tr>
        <td>{{ row_s.id }}</td>
        <td>{{ row_s.stud_name }}</td>
        <td>{{ row_s.mothername }}</td>
        <td>{{ row_s.fathername }}</td>
        <td>{{ row_s.nationality }}</td>
        <td> 
            {% if row_s.gender == 'M' %} Male {% else %} female {% endif %}
        </td>
        <td>{{ row_s.address }}</td>
        <td>{{ row_s.dob }}</td>
        <td>{{ row_s.reserv }}</td>
        <td>{{ row_s.classstd }}</td>
        <td><a href="/updatestud/{{ row_s.id }}" class="primary">UPDATE</a>
        </td>
        <td><button class="danger">DELETE</button></td>
    </tr>
    {% endfor %}

</table>

{% endblock content %}